.map {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(40% - 4rem);
  background: #fff;
  z-index: 2;
  @include respond(tablet){
    top: 8rem;
    position: relative;
    max-height: calc(100vh - 12rem);
    width: 70%;
    margin: 1rem 2rem 1rem 0;
    border-radius: 0.5rem;
  }
  

  &__img {
    height: 100%;
    width: 100%;
    @include respond(tablet){
      border-radius: 0.5rem;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    }
  }

  &__button-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
  }

  &__button {
    background: #fff;
    border: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
  }
}
