.search {
  margin: 1rem;
  height: 45vw;
  max-height: calc(100vh - 12rem);
  width: 30%;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;

  @include respond(tablet) {
    height: 35vh;
    width: 100%;
    margin: 0;
  }
  &__search-content {
    padding: 0 4rem;
    height: 30%;

    @include respond(tablet) {
      display: flex;
      align-items: center;
      padding: 0 2rem;
    }
  }
  &__heading {
    @include respond(tablet) {
      display: none;
    }
  }

  &__searchbar {
    height: 5rem;
    width: 100%;
    background: #ebebeb;
    border: 1px solid #7c7c7c;
    border-radius: 0.5rem;
    position: relative;

    &-input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      padding: 0 6rem;
      cursor: pointer;
    }

    &-icon {
      position: absolute;
      font-size: 2rem;
      top: 50%;
      transform: translateY(-50%);

      &-search {
        left: 2rem;
      }
      &-exit {
        right: 2rem;
      }
    }
  }

  &__back {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-icon {
      font-size: 1.8rem;
      margin-right: 2rem;
    }
    &-text {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  // List of locations
  &__locations {
    overflow-y: scroll;
    height: 70%;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #7c7c7c;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__search-content {
      padding: 0 1rem;
    }
  }
  &__location {
    &-item {
      min-height: 16rem;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      cursor: pointer;

      &-content {
        padding: 4rem 4rem 0rem 4rem;

        display: grid !important;
        grid-template-columns: 3fr 2fr;
      }

      &-left {
        position: relative;
      }
      &-right {
        @include respond(tablet) {
          display: flex;
          align-items: center;
        }
        svg {
          @include respond(tablet) {
            margin-bottom: 4rem;
            margin-left: 1rem;
          }
        }
      }
      &-time {
        font-weight: medium;
      }
      &-time,
      &-location {
        font-size: 1.6rem;
        margin-left: 4rem;
      }

      &-icon {
        font-size: 2.4rem;
        &-marker {
          color: #e57a41;
          position: absolute;
          left: 0;
          top: 5px;
          padding: inherit;
        }
        &-clock {
          color: #e57a41;
          position: absolute;
          left: 0;
          bottom: 5px;
          padding: inherit;
        }
        &-chevron {
          margin-top: 4rem;
          color: #676767;
        }
      }
      &-button {
        margin-left: 4rem;
      }
      &-right {
        justify-self: end;
        text-align: right;
      }
      &-rate {
        font-size: 1.6rem;
        color: #e57a41;
      }
    }
  }
}

// Component that shows that you have booked a parking space
.booked {
  &-text {
  }
  &__button-container {
  }
}
