.search {
  position: relative;
  top: calc(40vh - 6rem);
  margin: 1rem 0;
  width: 100%;
  height: calc(60vh - 4rem);
  background: #fff;
  overflow: hidden;
  @include respond(tablet){
    height: 100%;
    max-height: calc(100vh - 16rem);
    width: 30%;
    top: 8rem;
    margin: 1rem 0 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  }
  &__search-content {
    padding: 2rem 4rem 0 4rem;
  }
  &__heading{
    display: none;
    @include respond(tablet){
      display: block;
    }
  }

  &__searchbar {
    width: 100%;
    padding: 1rem 0;
    background: #ebebeb;
    border: 1px solid #7c7c7c;
    border-radius: 0.5rem;
    position: relative;

    &-input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      padding: 0 6rem;
      cursor: pointer;
    }

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include respond(tablet){
        font-size: 2rem;
      }
      &-search {
        left: 2rem;
      }
      &-exit {
        right: 2rem;
      }
    }
  }

  &__back {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-icon {
      font-size: 1.8rem;
      margin-right: 2rem;
    }
    &-text {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  // List of locations
  &__locations {
    overflow-y: scroll;
    height: 80%;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #7c7c7c;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__search-content {
      padding: 0 1rem;
    }
  }
  &__location {
    &-item {
      padding: 1.5rem 1rem;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      cursor: pointer;

      &-content {
        padding: 0;

        display: grid !important;
        grid-template-columns:  3fr 2fr;
      }

      &-left {
        position: relative;
      }

      &-time {
        margin: 0 0 1rem 0.8rem;
        font-weight: medium;
      }
      &-location{
        margin-left: 2.5rem;
      }
      &-time,
      &-location {
        font-size: 1.2rem;
        @include respond(tablet){
          font-size: 1.6rem;
        }
      }

      &-icon {
        font-size: 2.4rem;
        &-marker {
          color: #e57a41;
          padding: inherit;
        }
        &-clock {
          color: #e57a41;
          position: absolute;
          left: 0;
          bottom: 5px;
          padding: inherit;
        }
        &-chevron {
          color: #676767;
        }
      }
      &-button {
        margin-left: 3rem;
        width: auto;
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-right-booked{
        align-items: flex-start;
      }
      &-rate {
        font-size: 1.2rem;
        color: #e57a41;
        
        @include respond(tablet){
          font-size: 1.6rem;
        }
      }
    }
  }
}

// Component that shows that you have booked a parking space
.booked {
  &-text {
  }
  &__button-container {
  }
}
